.v-card-title
{
    font-size: small !important;
    font-weight: 400 !important;
    padding: auto !important;
    margin: 8px 5px !important;
    padding: 0px !important;
}
// .v-col-xl-2{
//     max-width: max-content !important;
// }
